* {
  box-sizing: border-box;
}

body {
  background-color: darksalmon;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.add {
  background-color: darkmagenta;
  color: white;
  padding: 0.5rem 1rem;
  height: 50px;
  border: 1px solid darkmagenta;
  border-radius: 5px;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.notes {
  background-color: white;
  width: 300px;
  height: 300px;
  margin: 20px;
}

.notes .tools {
  background-color: darkmagenta;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.notes .tools button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.notes .main {
  background-color: white;
  overflow: hidden;
  height: 400px;
  width: 100%;
}

.notes textarea {
  outline: none;
  border: none;
  height: 400px;
  width: 100%;
  font-size: 1.2rem;
}

.notes .hidden {
  display: none;
}